// @import '~/assets/varibles.scss';

@import '../../../../assets/scss/varibles.scss';

.card{
    height: auto;
    padding: 15px 0px;
    line-height: 1.7;
}
.alingParentInfo{
    display: flex;
    align-items: center
}
.bold{
    font-weight: 550;
}
.form{
    padding: 0px;
    margin-top: -13px;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}