<div class="criteriaModal">
  <h1 mat-dialog-title class="spaceBetween">
    <div class="heading">
      {{'message.customizeQuestion' |translate }}
    </div>
    <i class="material-icons crossIcon" (click)="onCancel()">
      close
    </i>
  </h1>
  <div mat-dialog-actions class="inlineBlock">
    <div class="customizeQuestion">
      <mat-accordion>
        <mat-expansion-panel class="_margin">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'headings.general' | translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'headings.panelEditHeading' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="questionForm">
            <div formArrayName="question">
              <div class="col-xs-12 _flexbox noPadding" *ngFor="let quest of questionForm.get('question').controls ; let i = index">
                <div [formGroup]="quest" class="col-xs-11 noRightPadding">
                  <mat-form-field class="col-xs-12 noPadding">
                    <input matInput placeholder="Question" formControlName="question" />
                  </mat-form-field>
                </div>
                <button class="col-xs-1" [disabled]="questionCount<2" *ngIf="questionCount>1" (click)="deleteQuestion( questionForm.controls.question,i)"
                  mat-icon-button color="warn">
                <i class="material-icons">
                  close
                </i>
                </button>
              </div>
              <div class="right" >
                <button (click)="addNewQuestion(questionForm.controls.question)" mat-raised-button class="_primary-btn buttonMargin">
                <div class="_flex-box">
                  <i class="material-icons">
                    add
                  </i>
                  <div>
                    {{'buttons.addNew'|translate}}
                  </div>
                </div>
              </button>
              <button class="buttonMargin" *ngIf="questionCount>1" (click)="removeAllQuestion()" mat-raised-button
                color="warn">
                <div class="_flex-box">
                  <i class="material-icons">
                    delete_forever
                  </i>
                  <div>
                    {{'buttons.removeAll'|translate}}
                  </div>
                </div>
              </button>
              </div>
            </div>
            <mat-form-field class="col-xs-12">
              <mat-select placeholder="Question Group" formControlName="questionGroup" multiple>
                <mat-option *ngFor="let option of questionGroupOption" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="External-Id" formControlName="externalId">
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="Tip" formControlName="tip">
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <mat-select placeholder="Response Type" formControlName="responseType">
                <mat-option *ngFor="let option of responseTypeOption" (click)="changeResponseType(option)" [value]="option.value">
                  {{option.label | camelcase}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox class="col-xs-6" formControlName="required">Required </mat-checkbox>
            <mat-checkbox class="col-xs-6" formControlName="showRemarks">Show Remark</mat-checkbox>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="_margin" *ngIf="data.questionObject.responseType == 'radio' ||data.questionObject.responseType == 'select' ">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'headings.choices' | translate}}
            </mat-panel-title>
            <mat-panel-description>
             {{'headings.panelEditHeading' | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="choiceForm">
            <div formArrayName="options">
              <div class="col-xs-12 _flexbox onPadding " *ngFor="let option of choiceForm.get('options').controls ; let i = index">
                <div [formGroup]="option" class="col-xs-11 onPadding">
                  <mat-form-field class="col-xs-6 noLeftPadding">
                    <input matInput placeholder="label" formControlName="label" />
                  </mat-form-field>
                  <mat-form-field class="col-xs-6 noRightPadding">
                    <input matInput placeholder="value" formControlName="value" />
                  </mat-form-field>
                </div>
                <button class="col-xs-1" [disabled]="optionCount< 3" *ngIf="optionCount>2" (click)="deleteOption( choiceForm.controls.options,i)"
                  mat-icon-button color="warn">
                <i class="material-icons">
                  close
                </i>
                </button>
              </div>
            <div class="right" >
              
              <button (click)="addNewOption(choiceForm.controls.options)" mat-raised-button class="_primary-btn buttonMargin">
                <div class="_flex-box">
                  <i class="material-icons">
                    add
                  </i>
                  <div>
                    {{'buttons.addNew'|translate}}
                  </div>
                </div>
              </button>
              <button class="buttonMargin" *ngIf="optionCount>2" (click)="removeAllOption()" mat-raised-button color="warn">
                <div class="_flex-box">
                  <i class="material-icons">
                    delete_forever
                  </i>
                  <div>
                    {{'buttons.removeAll'|translate}}
                  </div>
                </div>
              </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="buttonFooter">
      <div class="submitButton">
        <button mat-raised-button class="margin" (click)="onCancel()">{{'buttons.cancel' | translate }}</button>
        <button mat-raised-button (click)="onUpdate()" class="btns _primary-btn margin" [disabled]="!(choiceForm.valid && questionForm.valid)">
          {{'buttons.update' | translate }}</button>
      </div>
    </div>
  </div>