@import '../../../../../assets/scss/varibles.scss';
.wrapper{
    padding: 0px 20px;
}
.folderIcon{
    color : grey
}
.flexbox{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.criteriaCard{
    margin-left:10px;
    margin-top:10px;
    width:48%;
}
.criteriaLabel{
    line-height: .9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    width:100%;
}
.addCriteria{
    background-color: $primary-color;
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 1;
}  
