<div>
  <div mat-dialog-title>Confirm</div>
  <mat-dialog-content style="margin-bottom: 15px">
    <div>{{data?.message}}</div>
    <div *ngIf="data?.remarks">
      <app-remarks [data]="remarksObj"></app-remarks>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">{{'buttons.cancel'| translate }}</button>
    <button mat-button class="_primary-btn" cdkFocusInitial (click)="confirm()">{{data.okBtn ? data?.okBtn : "Ok" }}</button>
  </mat-dialog-actions>

</div>