@import '../../../../../../assets/scss/varibles.scss';
.editHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid ;
    justify-content: flex-end;
}
.headerItem{
    margin:5px 10px;
}
.centerPlace{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    display: inline;
    padding: 20px;
}
.paddingTop{
    padding: 10px 0px;
}
.editBox:hover{
    border:1px solid $grey-color;
    border-radius: 5px;
   
}
.questionSection{
    height: auto;
    position: relative;
}
.editBox{
    background-color: $background-color ;
    border:1px solid $background-color;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0px;
   
}
.wrapper{
    width : 100%;
}
.placeCenter{
    display: flex;
    align-items: center;
    height:  -webkit-fill-available;
    justify-content: center;
}
.questionLabel{
    padding:5px 0px;
    font-weight: 500;
}

.buttonFooter{
    position: absolute;
   display: flex;
   justify-content: flex-end;
}