<div *ngIf="newQuestionArray?.length; else selectQuestion " class="questionSection">
  <mat-tab-group>
    <div class="wrapper" *ngFor="let newQuestion of newQuestionArray;let i = index">
      <mat-tab label="Question {{i+1}}">
        <div class="editBox" (click)="showEditOption(i)">
          <div class="editHeader">
            <button mat-icon-button (click)="openDialog(i)">
              <i *ngIf="showIcon == i ||newQuestionArray.length == 1" class="material-icons headerItem">
                border_color
              </i>
            </button>
            <button mat-icon-button (click)="removeQuestion(i)">
              <i *ngIf="showIcon == i ||newQuestionArray.length == 1" class="material-icons">
                delete_forever
              </i>
            </button>
            <div class="headerItem">
              {{'headings.type' | translate}} : {{newQuestion.responseType | camelcase}}
            </div>
          </div>
          <div class="question">
            <div class="questionLabel" *ngFor="let questions of newQuestion.question;let j =index">
              <span *ngIf="j == 0">{{i+1}}. </span>
              {{questions}}
              <!-- <div *ngFor="let questionOption of questions.question">
              {{questionOption}}
          </div> -->
            </div>
            <div *ngIf="newQuestion.responseType == 'radio'">
              <div *ngFor="let option of newQuestion.options ">
                <mat-radio-button value="{{option.value}}">{{option.label}}</mat-radio-button>
              </div>
            </div>

            <div *ngIf="newQuestion.responseType == 'select'">
              <div *ngFor="let option of newQuestion.options ">
                <mat-checkbox value="{{option.value}}">{{option.label}}</mat-checkbox>
              </div>
            </div>
            <div *ngIf="newQuestion.responseType == 'text'">
              <mat-form-field>
                <input matInput value="{{newQuestion.responseType}} answer">
              </mat-form-field>
            </div>
            <div *ngIf="newQuestion.responseType == 'number'">
              <mat-form-field>
                <input matInput type="number" value="{{newQuestion.responseType}} answer">
              </mat-form-field>
            </div>
            <div *ngIf="newQuestion.responseType == 'textarea'">
              <mat-form-field>
                <textarea matInput value="{{newQuestion.responseType}} answer"></textarea>
              </mat-form-field>
            </div>

            <div *ngIf="newQuestion.responseType == 'datePicker'">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>

<ng-template #selectQuestion>
  <div class="editQuestion placeCenter">
    Select a type to add a question .
  </div>
</ng-template>
<!-- <div class="col-xs-12 buttonFooter">
  <button mat-raised-button class="_primary-btn" [disabled]=" !(newQuestionArray.length >= 1)">{{ 'buttons.submit' |
    translate}}</button>
</div> -->