<app-loader></app-loader>

<div *ngIf=" !error && parentEditData && parentForm ">
      <app-parent-heading [schoolName]="schoolName" [genericHeading]="headings"></app-parent-heading>
      <mat-card class="card col-xs-12">

            <div>
                  <app-dynamic-form [genericData]="parentEditData" [genericForm]="parentForm" [genericEdit]="isEdit"></app-dynamic-form>

            </div>
            <div class="col-sm-12 alingCenterline">
                  <button mat-raised-button (click)="onCancel()">{{'buttons.cancel' | translate}}</button>
                  <button mat-raised-button class=" btnColor margin" [disabled]="!parentForm?.valid" (click)="getUpdateData()">{{'buttons.update'
                        | translate}}</button>
            </div>
      </mat-card>
</div>
