@import '../../../../assets/scss/varibles.scss';

.alingCenterline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    // height: auto;
    margin: 20px 0px;
    padding: 15px 0px;
    line-height: 1.7;
}
.btnColor{
    background-color: $primary-color;
    color :white;
}
.alingCenterline{
    display:flex; 
    align-items:center;
    justify-content:flex-end;
}
.margin{
    margin-left:10px; 
}
.heading{
    padding-bottom : 50px; 
}