<div class="stepperDiv">
  <mat-horizontal-stepper [linear]="true" #stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{'headings.fillCriteriaDetails'|translate}}</ng-template>
        <div class="stepperOne">
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Criteria Id" formControlName="criteriaId" required>
          </mat-form-field>
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Criteria Name" formControlName="criteriaName" required>
          </mat-form-field>
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Description" formControlName="description" required>
          </mat-form-field>
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Remarks" formControlName="remarks">
          </mat-form-field>
          <mat-form-field class="col-xs-12">
            <mat-select placeholder="Language" formControlName="language">
              <mat-option *ngFor="let lang of language" [value]="lang">
                {{lang}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div formArrayName="keywords" class="col-xs-12">
            <div class="col-xs-12 _flexbox " *ngFor="let key of firstFormGroup.get('keywords')['controls'] ; let i = index">
              <div [formGroup]="key" class="flex-1">
                <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Keyword {{i+1}}" formControlName="keyword" required />
                </mat-form-field>
              </div>
              <button class="col-xs-1" *ngIf="keyWordCount > 1" [disabled]="langaugeCount<2" (click)="deleteKeyWord( firstFormGroup.controls.keywords,i)"
                mat-icon-button color="warn">
                <i class="material-icons">
                  close
                </i>
              </button>
            </div>
            <div class="right" >
            <button (click)="addNewKeyWord( firstFormGroup.controls.keywords)" mat-raised-button class="_primary-btn buttonMargin">
             <div class="_flex-box">
              <i class="material-icons">
                add
              </i>
              <div>
                {{'buttons.addNew'|translate}}
              </div>
            </div>
              

            </button>
            <button [disabled]="languageCount<2" class="buttonMargin" *ngIf="keyWordCount > 1" (click)="removeAllKeyWord()"
              mat-raised-button color="warn">
            <div class="_flex-box">
              <i class="material-icons">
                delete_forever
              </i>
              <div>
                {{'buttons.removeAll'|translate}}
              </div>
            </div>
            </button>
            </div>
          </div>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{'headings.addRubric' | translate}}</ng-template>
        <div formArrayName="levels">
          <div class="col-xs-12 _flexbox noPadding  " *ngFor="let level of secondFormGroup.get('levels')['controls'] ; let i = index">
            <div [formGroup]="level" class="col-xs-11 noPadding">
              <mat-form-field class="col-xs-12 col-md-6 noRightPadding">
                <input matInput placeholder="Label {{i+1}}" formControlName="label" />
              </mat-form-field>

              <mat-form-field class="col-md-6 col-xs-12 noRightPadding">
                <input matInput placeholder="Description {{i+1}}" formControlName="description" />
              </mat-form-field>
            </div>
            
            <button class="col-xs-1" [disabled]="levelCount<5" *ngIf="levelCount>4" (click)="deleteLevel( secondFormGroup.controls.levels,i)"
              mat-icon-button color="warn">
              <i class="material-icons">
                close
              </i>
            </button>
          </div>
          <div class="right marginRight" >
          <button (click)="addNewLevel( secondFormGroup.controls.levels)" mat-raised-button class="_primary-btn buttonMargin">
            
            <div class="_flex-box">
              <i class="material-icons">
                add
              </i>
              <div>
                {{'buttons.addNew'|translate}}
              </div>
            </div>
          </button>
          <button [disabled]="levelCount<5" class="buttonMargin" *ngIf="levelCount>4" (click)="removeAll()"
            mat-raised-button color="warn">
            <div class="_flex-box">
              <i class="material-icons">
                delete_forever
              </i>
              <div>
                {{'buttons.removeAll'|translate}}
              </div>
            </div>
          </button>
          </div>
        </div>

      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div class="nextButton _flex-box  _flex-end">
  <button *ngIf="currentLoadedStepper != 0" mat-raised-button class="btns  margin" (click)="back()">{{'buttons.back' | translate}}</button>

  <button mat-raised-button class="btns _primary-btn margin" *ngIf="currentLoadedStepper != stepperPageLength" [disabled]="!firstFormGroup.valid" (click)="next()">{{'buttons.next' | translate}}</button>

  <button mat-raised-button *ngIf="currentLoadedStepper == stepperPageLength" (click)="submitNewCriteria()" [disabled]="!secondFormGroup.valid || !firstFormGroup.valid"
    class="btns _primary-btn margin">
    {{'buttons.submit' | translate }}</button>
</div>